src/flows/AccountUpdate-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>AccountUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AccountUpdate</label>
    <processType>Flow</processType>
    <recordUpdates>
        <name>AccountUpdate</name>
        <label>AccountUpdate</label>
        <locationX>467</locationX>
        <locationY>246</locationY>
        <connector>
            <targetReference>Thank_uuu</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Accname</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Thank_uuu</name>
        <label>Thank uuu</label>
        <locationX>466</locationX>
        <locationY>394</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Thankuuu</name>
            <fieldText>Successfully Updated</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>WelcomeAccountUpdate</name>
        <label>WelcomeAccountUpdate</label>
        <locationX>466</locationX>
        <locationY>112</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AccountUpdate</targetReference>
        </connector>
        <fields>
            <name>WelcomeAccUpdt</name>
            <fieldText>Are u interesting About to edit the Record ???????????- {!varAccId}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Accname</name>
            <dataType>String</dataType>
            <fieldText>Accname</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>WelcomeAccountUpdate</startElementReference>
    <variables>
        <name>varAccId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
