src/flows/lookupDemo-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <dynamicChoiceSets>
        <name>SearchLead</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadName</elementReference>
            </value>
        </filters>
        <limit>50</limit>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>varSelectedLeadId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>lookupDemo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>lookupDemo</label>
    <processType>Flow</processType>
    <screens>
        <name>LeadInfo</name>
        <label>LeadInfo</label>
        <locationX>599</locationX>
        <locationY>83</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>MatchingLead</targetReference>
        </connector>
        <fields>
            <name>LeadName</name>
            <dataType>String</dataType>
            <fieldText>LeadName</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>MatchingLead</name>
        <label>MatchingLead</label>
        <locationX>889</locationX>
        <locationY>91</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Result</targetReference>
        </connector>
        <fields>
            <name>Matching_Lead_Record</name>
            <choiceReferences>SearchLead</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Matching Lead Record</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Result</name>
        <label>Result</label>
        <locationX>754</locationX>
        <locationY>296</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SelecteLeadId</name>
            <fieldText>Selected Lead Id -{!varSelectedLeadId}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelectedLeadname</name>
            <fieldText>Selected Lead Name - {!varSelectedLeadName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>LeadInfo</startElementReference>
    <variables>
        <name>varSelectedLeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varSelectedLeadName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
