src/flows/MassUpdateLead-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>CopyCurrentVariable</name>
        <label>CopyCurrentVariable</label>
        <locationX>1298</locationX>
        <locationY>298</locationY>
        <assignmentItems>
            <assignToReference>lstLeadFinalList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopLeadObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LeadLoopObj</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateCompany</name>
        <label>UpdateCompany</label>
        <locationX>1167</locationX>
        <locationY>114</locationY>
        <assignmentItems>
            <assignToReference>loopLeadObj.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_New_Company_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CopyCurrentVariable</targetReference>
        </connector>
    </assignments>
    <interviewLabel>MassUpdateLead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MassUpdateLead</label>
    <loops>
        <name>LeadLoopObj</name>
        <label>LeadLoopObj</label>
        <locationX>1016</locationX>
        <locationY>296</locationY>
        <assignNextValueToReference>loopLeadObj</assignNextValueToReference>
        <collectionReference>ListLeadToUpdate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdateCompany</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateAllLead</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetAllExistingLeadrecord</name>
        <label>GetAllExistingLeadrecord</label>
        <locationX>626</locationX>
        <locationY>300</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LeadLoopObj</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorMsg</targetReference>
        </faultConnector>
        <filters>
            <field>Company</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tata</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>ListLeadToUpdate</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Company</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAllLead</name>
        <label>UpdateAllLead</label>
        <locationX>1025</locationX>
        <locationY>526</locationY>
        <connector>
            <targetReference>Suceess</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorMsg</targetReference>
        </faultConnector>
        <inputReference>lstLeadFinalList</inputReference>
    </recordUpdates>
    <screens>
        <name>ErrorMsg</name>
        <label>ErrorMsg</label>
        <locationX>627</locationX>
        <locationY>523</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>Please Contact System Administrator
{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>NewCompany</name>
        <label>NewCompany</label>
        <locationX>629</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetAllExistingLeadrecord</targetReference>
        </connector>
        <fields>
            <name>UpdateAll</name>
            <fieldText>Update All lead record&apos;s company which has value is {!Enter_New_Company_Name}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Enter_New_Company_Name</name>
            <dataType>String</dataType>
            <fieldText>Enter New Company Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Suceess</name>
        <label>Suceess</label>
        <locationX>1333</locationX>
        <locationY>535</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>msg</name>
            <fieldText>All lead Records are updated</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>NewCompany</startElementReference>
    <variables>
        <description>Lust of Leads Mass Update</description>
        <name>ListLeadToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>loopLeadObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>lstLeadFinalList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
