src/flows/Survey_Customers-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Interest_for_Give_FeedBack</name>
        <label>Interest for Give FeedBack???</label>
        <locationX>683</locationX>
        <locationY>78</locationY>
        <defaultConnector>
            <targetReference>ThankYou</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Customer_Response</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Survey_Customer</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Satisfaction_choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Satisfaction__c</picklistField>
        <picklistObject>Customer_Satisfaction_Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Service_choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Service__c</picklistField>
        <picklistObject>Customer_Satisfaction_Survey__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Survey Customers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Survey Customers</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Survey_Record</name>
        <label>Create Survey Record</label>
        <locationX>956</locationX>
        <locationY>307</locationY>
        <connector>
            <targetReference>ThankYou</targetReference>
        </connector>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>OtherComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Customer_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Satisfaction__c</field>
            <value>
                <elementReference>Satisfaction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service__c</field>
            <value>
                <elementReference>Service</elementReference>
            </value>
        </inputAssignments>
        <object>Customer_Satisfaction_Survey__c</object>
    </recordCreates>
    <screens>
        <name>Greet_Customer</name>
        <label>Greet Customer</label>
        <locationX>473</locationX>
        <locationY>75</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Interest_for_Give_FeedBack</targetReference>
        </connector>
        <fields>
            <name>Welcome</name>
            <fieldText>Hi Sfdc Developer Welcome to Flows</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Customer_Response</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Customer Response</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Survey_Customer</name>
        <label>Survey Customer</label>
        <locationX>951</locationX>
        <locationY>73</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Survey_Record</targetReference>
        </connector>
        <fields>
            <name>ParticipationThanks</name>
            <fieldText>Thank you for agreeing to participate in our survey.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Customer_Name</name>
            <dataType>String</dataType>
            <fieldText>Before we begin, can you confirm your name?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Service</name>
            <choiceReferences>Service_choices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Of the following options, how would you rate your interactions with the Preferred Repair team?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Satisfaction</name>
            <choiceReferences>Satisfaction_choices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Of the following options, how satisfied are you with Acme&apos;s Preferred Repair service?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>OtherComments</name>
            <fieldText>Do you have any other comments you&apos;d like to share with us?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>ThankYou</name>
        <label>ThankYou</label>
        <locationX>687</locationX>
        <locationY>313</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Thankuuuuuuu</name>
            <fieldText>Thank u for ur spending a time to feedback</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Greet_Customer</startElementReference>
</Flow>
